
<div class="dialog-head">添加教辅</div>
<div class="dialog-teachoose">
    <form class="for-horizontal">
        <div class="form-body">
            <div class="form-group ">
                <label class="control-label col-md-2 col-sm-3 col-xs-12 " style="text-align:right;padding:0px;">
                选择学科：
                </label>
                <div class="col-md-2 col-sm-2 col-xs-6" style="padding: 0">
                    <div class="margin-bottom-10">
                        <select class="bs-select form-control bs-select-hidden" ng-model="vm.xkid" ng-change="getJCBbDialog()">
                            <option selected="selected" value="2">数学</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-6" style="text-align:right;padding:0px;">
                选择年级：
                </label>
                <div class="col-md-2 col-sm-2 col-xs-6" style="padding:0">
                    <div class="margin-bottom-10">
                        <select class="bs-select form-control bs-select-hidden" ng-model="vm.gradeinfo" ng-options="g.gradename for  g in vm.gradeItem" ng-change="getJCBbDialog()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-6" style="text-align:right;padding:0px;">
                选择版本：
                </label>
                <div class="col-md-2 col-sm-2 col-xs-6" style="padding:0">
                    <div class="margin-bottom-10" style="margin-right:15px;">
                        <select class="bs-select form-control bs-select-hidden" ng-model="vm.bookinfo" ng-options="b.bbname for b in vm.bookItem" ng-change="searchClassBook()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="portlet-body caption " style="height:500px;overflow:auto;background:#fff;margin-left:0px;margin-top:0px;">
    
    <div class="setting-list">
        <ul class="clearfix">
            <li ng-repeat="b in vm.searchBookItem"  ng-click="selectSearchBook(b)">
                <div class="pl block-graytemplate">
                    <div class="stting-ing">
                        <img ng-src="{{b.pic}}">
                    </div>
                    <div class="stting-wz1"><span ng-bind="b.greadename">六年级</span><span ng-bind="b.xkname">数学</span>（<span ng-bind="b.njjdname">下</span>）</div>
                    <div class="stting-wz"><span ng-bind="b.bbname">人教实验A版</span> <span ng-bind="b.jxjdhfname">五四制</span></div>
                    <!-- 选中状态 -->
                    <div class="teach-okon" ng-show="b.checked">
                        <img src="img/index/win.png"  alt="" />
                    </div>
                </div>
                <!--<div class="stting-sc" style="display:none; "></div>-->
            </li>
        </ul>
    </div>
</div>
<div class="dialog-foot">
    <button type="button" class="btn-circle btn-blue" ng-click="addBookDialog()">加入书架</button>
    <!--<button type="button" class="btn default"  ng-click="closeThisDialog()">取消</button>-->
</div>
