<div class=" container-top body-margin block-template content-left" style="padding: 0;">
    <div class="title-breadcrumb">
        <ul class="clearfix">
            <li class="font-act">
                <span ui-sref="app" class="cursor">首页</span>
                <span style="margin: 0 6px;">&gt;</span>
            </li>
            <li class="font-act">
                <span>学情分析</span><span style="margin: 0 6px;">&gt;</span>

            </li>
            <li class="font-act">
                <span ui-sref="app.analyze.class" class="cursor">班级学情分析</span><span style="margin: 0 6px;">&gt;</span>
            </li>
            <li>
                <span>班级高频错题</span>
            </li>
        </ul>
    </div>
    <div style="padding: 15px;">
        <div class="row">
            <div class="col-md-12">
                <div class=" block-graytemplate portlet-form ">
                    <div class="portlet-body">
                        <div ng-if="charpterwrong.wrongdata.length>0">
                            <div ng-repeat="c in charpterwrong.wrongdata">
                                <div class="selectbook-title ">
                                    <span class="caption" ng-bind="c.charptername">第一章：4556</span>
                                </div>
                                <ul class="section-list ">
                                    <li class="clearfix" ng-repeat="w in c.wronglist" style="position: relative">
                                        <div class="section-list1" custom-mathjax content="w.timuxushu" ng-bind-html="toHtml(w.timuxushu)">
                                            1.根据从一个方向看到的图形，用给定数量的小正方题摆出性瘾的立体图形用给定时量的小正方题摆出立体图形用给定摆出性瘾的立体图形用给定时量的小正方题摆出立体图形用给定。       
                                        </div>
                                        <div class="section-list2">
                                            <div class="font-six font-red"><span ng-bind="w.wrongnum">90</span>人</div>
                                            错误人数
                                        </div>
                                        <div class="section-list3 ">
                                            <div class="font-six font-red"><span ng-bind="w.wrongrate">90</span>%</div>
                                            错误率
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                       

                        <div no-data datalist="charpterwrong.wrongdata">
                            <div class="kby xqfx-blank">
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row" style="text-align: right; margin-right: 50px;">
                            <div set-pagination page-options="gplistOptions" class="pagination"></div>
                        </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setMinheight()
</script>
