<div class="fixed-tu" go-totop></div>
        <div class="fixed-tu1"></div>
        <div class="fixed-list">
            <ul>
                <li  ng-mouseenter="show = true" ng-mouseleave="show = false">
                    易师微信
                    <div class="fixed-wx" ng-show="show">
                        <img src="images/wx.png" width="96" height="96"></div>
                </li>
                <li style="padding-top:12px !important;">帮助</li>
                <li style="padding-top:12px !important;">攻略</li>
                <li>学习平台</li>
            </ul>
        </div>