<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li ng-class="{'active':vm.tabindex==0}">
							<a ui-sref="app"  ng-click="selectTab(0)" >
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 首页 </span>
							</a>
						</li>

						<li ng-class="{'active':vm.tabindex==1,'open':vm.tabindex==1}">
							<a href="javascript:void(null);" class="dropdown-toggle"   ng-click="selectTab(1)">
								<i class="icon-desktop"></i>
								<span class="menu-text">站点管理</span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu" ng-show="!vm.checked&&vm.tabindex==1">
								<li ng-class="{'active':vm.tabindex==1&&vm.childindex==0}"  ng-click="selectTab(1,0)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										站点设置
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==1&&vm.childindex==1}"  ng-click="selectTab(1,1)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										节点管理
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==1&&vm.childindex==2}"  ng-click="selectTab(1,2)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										数据库维护
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==1&&vm.childindex==3}"  ng-click="selectTab(1,3)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										后台首页
									</a>
								</li>

							</ul>
						</li>

						<li ng-class="{'active':vm.tabindex==2,'open':vm.tabindex==2}">
							<a href="javascript:void(null);" class="dropdown-toggle"  ng-click="selectTab(2)">
								<i class="icon-list"></i>
								<span class="menu-text">用户管理</span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu" ng-show="!vm.checked&&vm.tabindex==2">
								<li ng-class="{'active':vm.tabindex==2&&vm.childindex==0}"  ng-click="selectTab(2,0)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										站长管理
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==2&&vm.childindex==1}" ng-click="selectTab(2,1)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										管理组
									</a>
								</li>
								<li ng-class="{'active':vm.tabindex==2&&vm.childindex==2}" ng-click="selectTab(2,2)">
									<a  href="javascript:void(null);">
										<i class="icon-double-angle-right"></i>
										套餐管理
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==2&&vm.childindex==3}" ng-click="selectTab(2,3)">
									<a href="javascript:void(null);" ui-sref="app.usermgr.customer" >
										<i class="icon-double-angle-right"></i>
										客户管理
									</a>
								</li>
							</ul>
						</li>

						<li ng-class="{'active':vm.tabindex==3,'open':vm.tabindex==3}">
							<a href="javascript:void(null);" class="dropdown-toggle"  ng-click="selectTab(3)">
								<i class="icon-edit"></i>
								<span class="menu-text">内容管理</span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu" ng-show="!vm.checked&&vm.tabindex==3">
								<li ng-class="{'active':vm.tabindex==3&&vm.childindex==0}"  ng-click="selectTab(3,0)">
                                    <a href="javascript:void(null);" ui-sref="app.menumgr.menu">
                                        <i class="icon-double-angle-right"></i>
                                        菜单管理
                                    </a>
								</li>

								<li ng-class="{'active':vm.tabindex==3&&vm.childindex==1}"  ng-click="selectTab(3,1)">
									<a href="javascropt:;" ui-sref="app.articlemgr.article">
										<i class="icon-double-angle-right"></i>
										文章管理
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==3&&vm.childindex==2}"  ng-click="selectTab(3,2)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										自定义页面
									</a>
								</li>

							</ul>
						</li>

						<li ng-class="{'active':vm.tabindex==4,'open':vm.tabindex==4}">
							<a href="javascript:void(null);" class="dropdown-toggle"  ng-click="selectTab(4)">
								<i class="icon-list-alt"></i>
								<span class="menu-text">功能模块</span>
								<b class="arrow icon-angle-down"></b>
							</a>
							
							<ul class="submenu" ng-show="!vm.checked&&vm.tabindex==4">
								<li ng-class="{'active':vm.tabindex==4&&vm.childindex==0}"  ng-click="selectTab(4,0)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										功能模块
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==4&&vm.childindex==1}"  ng-click="selectTab(4,1)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										功能介绍
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==4&&vm.childindex==2}"  ng-click="selectTab(4,2)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										关于我们
									</a>
								</li>

							</ul>
						</li>

						<li ng-class="{'active':vm.tabindex==5,'open':vm.tabindex==5}">
							<a href="javascript:void(null);" class="dropdown-toggle"  ng-click="selectTab(5)">
								<i class="icon-picture"></i>
								<span class="menu-text">公众号管理</span>
								<b class="arrow icon-angle-down"></b>
							</a>
							
							<ul class="submenu"  ng-show="!vm.checked&&vm.tabindex==5">
								<li ng-class="{'active':vm.tabindex==5&&vm.childindex==0}" ng-click="selectTab(5,0)">
									<a href="javascript:void(null);" ui-sref="app.wechatmgr">
										<i class="icon-double-angle-right"></i>
										公众号管理
									</a>
								</li>

							</ul>
						</li>

						<li ng-class="{'active':vm.tabindex==6,'open':vm.tabindex==6}">
							<a href="javascript:void(null);" class="dropdown-toggle"  ng-click="selectTab(6)">
								<i class="icon-tag"></i>
								<span class="menu-text">扩展管理</span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu"  ng-show="!vm.checked&&vm.tabindex==6">
								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==0}"  ng-click="selectTab(6,0)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										充值记录
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==1}"  ng-click="selectTab(6,1)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										用户案例
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==2}"  ng-click="selectTab(6,2)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										友情链接
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==3}"  ng-click="selectTab(6,3)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										新闻管理
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==4}"  ng-click="selectTab(6,4)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										平台支付
									</a>
								</li>

								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==5}"  ng-click="selectTab(6,5)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										更新进程
									</a>
								</li>
								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==6}"  ng-click="selectTab(6,6)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										横幅图片
									</a>
								</li>
								<li ng-class="{'active':vm.tabindex==6&&vm.childindex==7}"  ng-click="selectTab(6,7)">
									<a href="javascropt:;">
										<i class="icon-double-angle-right"></i>
										首页幻灯片
									</a>
								</li>
							</ul>
						</li>
						
					</ul><!-- /.nav-list -->

					<!--<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>-->

					<!--<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
						$(function(){
							$('.dropdown-toggle').click(function(){
								//console.log($(this).next('.submenu'))
								var submenu = $(this).next('.submenu');
								if(submenu.is(":hidden")) {
									submenu.fadeIn('fast');
								}else{
									submenu.fadeOut('fast');
								}
							});
							$('i .icon-double-angle-right').click(function () {alert(0)
							    debugger
							    //$(this).parents('ul .nav-list li').removeClass('active').$(this).parents('li').addClass('active');
                                
							});
						});
					</script>-->
				</div>
				