@{
    ViewBag.Title = "ArticleViews";
}

<div class="main"  id="main">
    <div class="head_h">
    <div class="rootpath">您现在的位置： <a href="#">文章管理</a> > 文章列表</div>
    <!--<h1>
        <span id="title">文章列表</span>
        <input type="button" id="btnPublish" value="发表文章" class="input_button" onclick="publish()" />
    </h1>-->
    </div>
    <form>
    <div class="search-form">
        <div class="table-wrapper">
            <table>                
                <tr>
                    <td style="width:80px;text-align:right;">
                        选择分类：
                    </td>
                    <td style="width:120px;text-align:left;">
                        <select data-bind="options: categories,optionsText: 'name',optionsValue: 'id',optionsCaption: '请选择',value:form.categoryid"  style="width:100px;"></select>
                    </td>
                    <td style="width:80px;text-align:right;">
                        文章标题：
                    </td>
                    <td style="width:170px;text-align:left;">
                        <input name="articlename" id="articlename" class="input_text" type="text" />
                    </td>
                    <td style="width:60px;text-align:right;">
                        作者：
                    </td>
                    <td style="width:170px;text-align:left;">
                        <input name="author" id="author" class="input_text" type="text" />
                    </td>
                    <td style="width:80px;text-align:right;">
                        发布日期：
                    </td>
                    <td style="text-align:left;">
                        <input id="begintime" name="begintime" class="input_text Wdate" type="text" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" readonly="readonly" style="width:110px;"  />
                            -
                        <input id="endtime" name="endtime" class="input_text Wdate" type="text" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" readonly="readonly" style="width:110px;"   />
                    </td>
                    <td>
                        <a data-bind="click:search" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="btn-bar"></div>
            
    </div>
    </form>
    
    
    <table class="grid marT" id="tbList">    
        <!--<tr>
            <th style="text-align:left;">
                文章标题
            </th>
            <th style="width: 60px;text-align:center;">
                分类
            </th>
            <th style="width: 100px;text-align:center;">
                点击数(/次)
            </th>
            <th style="width: 140px;text-align:center;">
                发布日期
            </th>
            <th style="width:100px;text-align:center;">
                状态
            </th>
            <th style="width: 150px;text-align:center;">
                操作
            </th>
        </tr>
        <tr>
        <td colspan="6"  style="text-align:center;">暂无数据</td>
        </tr>
        -->
    </table>
    
</div>
<script src="../../Content/viewmodel/article/articleview.js"></script>
<script>
    //$(function () {
        var viewModel = new articleViewModel();
        ko.applyBindings(viewModel, document.getElementById('main'));
        viewModel.Init();
    //});
</script>
