<div class=" container-top body-margin block-template content-left" style="padding:0;">
    <div class="title-breadcrumb">
        <ul class="clearfix">
            <li>
                <span ui-sref="app" class="cursor">首页</span>
                <span style="margin: 0 6px;">&gt;</span>
            </li>
            <li>
                <span>布置作业</span><span style="margin: 0 6px;">&gt;</span>

            </li>
            <li>
                <span ui-sref="app.sethomework.sethw" class="cursor">布置新作业</span><span style="margin: 0 6px;">&gt;</span>
            </li>
            <li>
                <span>布置作业完成</span>

            </li>
        </ul>
    </div>
    <div style="padding:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div>
                        <img src="img/sum-finsh.png" alt="Alternate Text" />
                    </div>
                    <div class="classhw-ok block-graytemplate " ng-repeat="vt in holiclasses">
                        <div class="classhw-title clearfix">
                            <div class="classname" style="margin-top:10px;"><span ng-bind="vt.gradename"></span><span ng-bind="vt.classname"></span>（<span ng-bind="vt.joinusercount"></span>人）</div>
                        </div>
                        <div class="clearfix" style="padding:20px 0 0;">
                            <div class="homeok-l">布置教辅：</div>
                            <div class="homeok-r">
                                <div class="clearfix" style=" margin-bottom:10px;">
                                    <div class="float-l" style="margin-right:30px;">【<span ng-bind="holibook.bookname"></span>】</div>
                                    <div class="float-l font-four font-gray"><span ng-bind="holibook.gradename"></span>（<span ng-bind="holibook.xkname"></span><span ng-bind="holibook.njjdname"></span>）<span ng-bind="holibook.bbname"></span></div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix " style="margin-bottom:15px">
                            <div class="homeok-l">布置课时：</div>
                            <div class="homeok-r">
                                <span ng-bind="holksnum"></span>课时
                            </div>
                        </div>
                        <div style="text-indent:12px;" class="font-six font-gray">
                            作业截止时间：<span ng-bind="holidatetime"></span>
                        </div>
                    </div>
                    <div class="homeok-btn">
                        <button type="button" ng-click="goToHwLog()" class="btn-circle  btn-blue" style="width:136px;">查看布置的作业</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setMinheight();
</script>