<div class=" container-top body-margin block-template content-left" style="padding:0;" >
    <div class="title-breadcrumb">
        <ul class="clearfix">
            <li class="font-act">
                <span ui-sref="app" class="cursor">首页</span>
                <span style="margin: 0 6px;">&gt;</span>
            </li>
            <li class="font-act">
                <span>布置作业</span><span style="margin: 0 6px;">&gt;</span>

            </li>
            <li>
                <span >布置新作业</span>
            </li>
        </ul>
    </div>
    <div style="padding:15px;" class="clearfix">
       
        <div class="row" ng-show="!vm.partindex">
            <div class="col-md-12" ng-if="vm.classlist.length>0">

                <div class="portlet portlet-form title-border" style="box-shadow: none;">
                    <div class="portlet-body ">
                        <form>
                            <div class="form-md-checkboxes">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox clearfix" ng-repeat="c in vm.classlist" style="width: 25%">
                                        <div ng-if="!c.checked" ng-click="getClassBook(c,true)">
                                            <div class="float-l check-set">
                                                <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    style="width: 16px; height: 16px; margin-top: -5px;" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
                                                    <image overflow="visible" width="15" height="16" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                                                        bWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
                                                        bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
                                                        eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1
                                                        MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
                                                        dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
                                                        dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
                                                        IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
                                                        ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
                                                        cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJ
                                                        RD0ieG1wLmlpZDo5QjNDMjA2NDMzODYxMUU2OUMzRkFDQzY0NjY0OEU3OSIgeG1wTU06RG9jdW1l
                                                        bnRJRD0ieG1wLmRpZDo5QjNDMjA2NTMzODYxMUU2OUMzRkFDQzY0NjY0OEU3OSI+IDx4bXBNTTpE
                                                        ZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlCMTJDNUUyMzM4NjExRTY5QzNG
                                                        QUNDNjQ2NjQ4RTc5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlCMTJDNUUzMzM4NjExRTY5
                                                        QzNGQUNDNjQ2NjQ4RTc5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBt
                                                        ZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+BY6V2wAAAHtJREFUeNpiXLVqFRsDA0M3EMcAsRADYfAe
                                                        iBcDcSkTkOgCYjUg1gFiRiKwNlR9EwuQiIVqfM5AHACpSwLiK0xQpxKrEdkAISYGCsCo5pGj+R0Q
                                                        S5KoTwKkjwmaQ+ZABYgBMkA8F6QHpLkMiO8A8TUg/k8EvgRVXwsQYACfEB5gLshgigAAAABJRU5E
                                                        rkJggg==">
                                                    </image>
                                                </svg>
                                            </div>
                                            <div class="float-l font-song">
                                                <span ng-bind="c.gradename"></span>
                                                <span ng-bind="c.classname"></span>
                                            </div>
                                        </div>
                                        <div class="md-checkbox clearfix" ng-if="c.checked" ng-click="getClassBook(c,false)">
                                            <div class="float-l  check-set">
                                                <svg version="1.1" id="Svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    style="width: 16px; height: 16px; margin-top: -5px;" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
                                                    <image overflow="visible" width="15" height="16" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
                                                    bWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
                                                    bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
                                                    eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1
                                                    MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
                                                    dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
                                                    dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
                                                    IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
                                                    ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
                                                    cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJ
                                                    RD0ieG1wLmlpZDo5QjEyQzVFMDMzODYxMUU2OUMzRkFDQzY0NjY0OEU3OSIgeG1wTU06RG9jdW1l
                                                    bnRJRD0ieG1wLmRpZDo5QjEyQzVFMTMzODYxMUU2OUMzRkFDQzY0NjY0OEU3OSI+IDx4bXBNTTpE
                                                    ZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlCMTJDNURFMzM4NjExRTY5QzNG
                                                    QUNDNjQ2NjQ4RTc5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlCMTJDNURGMzM4NjExRTY5
                                                    QzNGQUNDNjQ2NjQ4RTc5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBt
                                                    ZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+7GfnjAAAAOhJREFUeNpitF/7k42BgaEbiGOAWIiBMHgP
                                                    xIuBuJQJSHQBsRoQ6wAxIxFYG6q+iQVIxEI1PmcgDoDUJQHxFSaoU4nViGyAEBOJmnYA8Q8YhxTN
                                                    U4DYHYh/kqp5AhBnA/ETIOYnRTMoNvKh/pRFlkDX/AeIHyPx20HxCcQvgVgK3VR0zTeAWAaI90Gj
                                                    owKIXwOxBDYnsaDxQfG9AojDgdgR6kdZXP5hwSIWAcTS0FQkiy8wWHCI2xITBSA/vwNiSRITCygM
                                                    3jFBc8gcXIGCBYACdC5ID0hzGRDfAeJrQPyfCHwJqr4WIMAAI14wiZLGvXEAAAAASUVORK5CYII=">
                                                    </image>
                                                </svg>
                                            </div>
                                            <div class="float-l font-song">
                                                <span ng-bind="c.gradename"></span>
                                                <span ng-bind="c.classname"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="portlet-form  selectbook " ng-show="vm.tempArray.length==0">
                    <div class="caption selectbook-title">
                        <span class="caption">选择教辅</span>
                    </div>
                </div>
                <div class="portlet-form  selectbook" ng-show="vm.tempArray.length>0">
                    <div class="caption selectbook-title">
                        <span class="caption">选择教辅</span>
                    </div>
                    <div class="portlet-body caption clearfix ">
                        <div class="teach-list">
                            <ul class="clearfix i-marginb2">
                                <li class="block-graytemplate" ng-repeat="b in vm.hwbidlist track by $index" ng-click="selectBook(b)" ng-class="{' selectbook-act':vm.currenthwbid==b.hwbid}">
                                    <div class="clearfix teach-poto ">
                                        <div class="float-l bookimg">
                                            <img ng-src="{{b.bookimgurl}}" alt="" />
                                        </div>
                                        <div class="float-r teach-font">
                                            <div class="book-title">小学教材全练</div>
                                            <div>年级：<span ng-bind="b.gradename">五年级</span>（<span ng-bind="b.njjdname">上册</span>）</div>
                                            <div class="">学科：<span ng-bind="b.xkname">数学</span>&nbsp;&nbsp;</div>
                                            <div class="">版本：<span ng-bind="b.bbname">青岛版</span></div>
                                            <div class="">学制：<span ng-bind="b.jxjdhfname">青岛版</span></div>
                                        </div>
                                    </div>
                                </li>
                                <!--<li class="block-graytemplate"  ng-repeat="b in vm.hwbidlist track by $index" ng-click="selectBook(b)">
                                    <div class="clearfix teach-poto ">
                                        <div class="float-l bookimg">
                                            <img ng-src="{{b.bookimgurl}}" alt="" /></div>
                                        <div class="float-r teach-font">
                                            <div class="book-title" >小学教材全练</div>
                                            <div>年级：<span>五年级（上册）</span></div>
                                            <div class="">学科：<span ng-bind="b.xkname">数学</span>&nbsp;&nbsp;</div>
                                            <div class="">版本：<span ng-bind="b.bbname">青岛版</span></div>
                                            <div class="">学制：<span ng-bind="b.jxjdhfname">青岛版</span></div>
                                        </div>
                                    </div>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-form  selectbook" ng-show="vm.charpterlist.length==0||!vm.charpterlist">
                    <div class="caption selectbook-title">
                        <span class="caption">选择课时</span>
                    </div>
                </div>
                <div class="portlet-form  selectbook " ng-show="vm.charpterlist.length>0">
                    <div class="caption selectbook-title">
                        <span class="caption">选择课时</span>
                    </div>
                    <div class="selection clearfix" ng-repeat="c in vm.charpterlist">
                        <div ng-click="nodeExtender(c)" ng-class="{'selection-jia':!c.checked,'selection-jian':c.checked}">
                        </div>
                        <div class="selection1">
                            <div class="selection1 clearfix">
                                <div class="selection-shu">
                                    <img src="img/shu.png">
                                </div>
                                <div class="selection-bt" ng-bind="c.chaptername">因数和倍数</div>
                            </div>
                            <div class="selection1" ng-repeat="n in c.nodeidlist" ng-if="c.checked">
                                <div class="selection-ej">
                                    <div class="selection-sj">
                                        <div class="selection-hs">
                                            <img src="img/zk.png" width="46" height="12">
                                        </div>
                                        <span ng-bind="n.nodename">1.长方体和正方体的认识</span>
                                    </div>
                                    <div class="selection-list">
                                        <ul class="clearfix">
                                            <li ng-repeat="h in n.lhidlist">
                                                <div class="selection-lf" ng-bind="h.lhname">（课时10）长方体</div>

                                                <div class="selection-rh" ng-if="h.isbuzhi==0">
                                                    <button type="button" class="selection-wbz" ng-click="selectPartHomeWork(h)" ng-show="!h.partchecked" hover>分题布置</button>
                                                    <button type="button" class="selection-dqbz" ng-click="selectPartHomeWork(h)" ng-show="h.partchecked">
                                                        当前布置
                                                        <img src="img/ti-act.png" alt="" /></button>
                                                </div>
                                                <div class="selection-rh" ng-if="h.isbuzhi>0&&h.noallarrangement=='0'">
                                                    <button name="" type="button" class="selection-ybzg">分题布置</button>
                                                </div>
                                                <div class="selection-rh" ng-if="h.isbuzhi>0&&h.noallarrangement!='0'">
                                                    <button name="" type="button" class="selection-ybzg">已布置</button>
                                                </div>

                                                <div class="selection-ah" ng-if="h.isbuzhi==0">
                                                    <button type="button" class="selection-wbz" ng-click="selectAllHomeWork(h)" ng-show="!h.allchecked" hover>全部布置</button>
                                                    <button type="button" class="selection-dqbz" ng-click="selectAllHomeWork(h)" ng-show="h.allchecked">全部布置<img src="img/ti-act.png" alt="" /></button>
                                                </div>
                                                <div class="selection-ah" ng-if="h.isbuzhi>0&&h.noallarrangement!='0'">
                                                    <button name="" type="button" class="selection-ybzg">全部布置</button>
                                                </div>
                                                <div class="selection-ah" ng-if="h.isbuzhi>0&&h.noallarrangement=='0'">
                                                    <button name="" type="button" class="selection-ybzg">已布置</button>
                                                </div>

                                            </li>
                                            <!--<div class="selection-lf" ng-bind="h.lhname">（课时10）长方体</div>

                                            <div class="selection-rh" ng-if="h.isbuzhi==0">
                                                <button type="button" class="selection-wbz" ng-click="selectPartHomeWork(h)" ng-show="!h.partchecked" hover>分题布置</button>
                                                <button type="button" class="selection-dqbz" ng-click="selectPartHomeWork(h)" ng-show="h.partchecked">
                                                    当前布置
                                                    <img src="img/ti-act.png" alt="" />
                                                </button>
                                            </div>
                                            <div class="selection-rh" ng-if="h.isbuzhi>0&&h.noallarrangement!='0'">
                                                <button name="" type="button" class="selection-ybzg">已布置</button>
                                                <button name="" type="button" class="selection-ybzg">全部布置</button>
                                            </div>

                                            <div class="selection-ah" ng-if="h.isbuzhi==0">
                                                <button type="button" class="selection-wbz" ng-click="selectAllHomeWork(h)" ng-show="!h.allchecked" hover>全部布置</button>
                                                <button type="button" class="selection-dqbz" ng-click="selectAllHomeWork(h)" ng-show="h.allchecked">全部布置<img src="img/ti-act.png" alt="" /></button>
                                            </div>
                                            <div class="selection-ah" ng-if="h.isbuzhi>0&&h.noallarrangement=='0'">
                                                <button name="" type="button" class="selection-ybzg">分题布置</button>
                                                <button name="" type="button" class="selection-ybzg">已布置</button>
                                            </div>-->
                                            <!--<li><div class="selection-lf">（课时10）长方体</div><div class="selection-rh"><button name="" type="button" class="selection-ybzg">已布置过</button></div> </li>-->
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet   portlet-fit portlet-form " style="box-shadow: none;">
                        <div class="portlet-body ">
                            <form action="#" class="form-horizontal" id="form_sample_2">
                                <div class="form-body" style="padding: 0;">
                                    <div class="form-group form-md-radios clearfix deadline">
                                        <label class="float-l control-label font-gray" for="form_control_1" style="padding-left: 15px;">作业提交截止时间：</label>
                                        <div class="float-l" style="width: 360px; padding-left: 0;">
                                            <div class="md-radio-inline " style="margin-top: 9px;">
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_8" name="radio2" value="1" class="md-radiobtn" ng-click="editDatetime(1)">
                                                    <label for="checkbox1_8">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="boxext"></span>一天
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_9" name="radio2" value="2" class="md-radiobtn" ng-click="editDatetime(2)">
                                                    <label for="checkbox1_9">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="boxext"></span>二天
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_10" name="radio2" value="3" class="md-radiobtn" ng-click="editDatetime(3)">
                                                    <label for="checkbox1_10">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="boxext"></span>三天
                                                    </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="checkbox1_11" name="radio2" value="4" class="md-radiobtn" ng-click="editDatetime(4)">
                                                    <label for="checkbox1_11">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="boxext"></span>自定义
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="float-l" ng-show="vm.datedisable">
                                            <div class="input-group date-picker date-select " date-picker date-option="dateoption"></div>
                                        </div>
                                        <div ng-if="vm.currentdatatime" class="float-l  date">
                                            提交作业截止时间为：<span ng-bind="vm.currentdatatime">2016/05/13 15:05 星期四</span>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-actions" style="margin-left: 120px; background: #fff;padding-top:0;">
                        <button type="button" class="btn-blue btn-circle" ng-click="setHomeWork()">确认布置</button>
                    </div>
                </div>
            </div>
            <div no-data datalist="vm.classlist">
                <div class="kby gyxs-blank" >
                        您还没有创建班级，不能布置作业~                       
                </div>
            </div>
        </div>
        <div class="row" ng-show="vm.partindex">
            <div class="col-md-12">
                <div class="float-l">
                    <div class="portlet light padding-no work-photo" style="padding: 0 !important;box-shadow:none">
                        <canvas id="canvasimg" width="{{currentPigaiItem.answer.picsrcwidth}}" height="{{currentPigaiItem.answer.picsrcheight}}"></canvas>

                        <div class="work-pg" ng-if="vm.currentimgtotalcount>1">
                            <div class="row row-pt" style="margin-top: 2px;">
                                <div class="col-md-3 padding-no cursor">
                                    <div ng-hide="vm.currentimgpageindex==0">
                                        <div ng-click="imgPrevPage()"><i class="fa fa-chevron-left i-marginr"></i>上一页</div>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-no">
                                    <div>第<span>{{vm.currentimgpageindex+1}}</span>页，共<span ng-bind="vm.currentimgtotalcount">3</span>页</div>
                                </div>
                                <div class="col-md-3 padding-no cursor">
                                    <div ng-hide="vm.currentimgpageindex==vm.currentimgtotalcount-1">
                                        <div ng-click="imgNextPage()">下一页<i class="fa fa-chevron-right i-marginl"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work-flag-on" ng-show="vm.sublogItems.pigaistatus==2">
                            <div>
                                <div class="work-df" ng-bind="vm.sublogItems.myscorse"></div>
                            </div>

                            <!-- <div><span ng-bind="vm.sublogItems.sumscorse"></span>分</div> -->

                        </div>
                    </div>

                </div>
                <div class="float-r" style="margin-top:150px; ">
                    <div class="sethome-ts">
                        <div>提示</div>
                        <p class="ts-set" ng-show="vm.selectedcount==0">选题布置—点击页面中要选中的题目即可选题成功。</p>
                        <p class="ts-set" style="text-align: center;" ng-show="vm.selectedcount>0">已选中 <span style="color:#cb6237;font-size:24px;margin-right: 4px;" ng-bind="vm.selectedcount">2</span>道题</p>
                    </div>
                    <div class="all-ti">此课时共<span style="font-size:20px;" ng-bind="vm.sublogItems.pigailist.length">20</span>道题</div>
                    <button class="btn-circle btn-blue " ng-click="checkQuestion()" style="margin-left: 15px;" ng-class="{'back-gray':vm.selectedcount==0}" ng-disabled="vm.selectedcount==0">选题完成</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setMinheight();
</script>


